@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    min-width: 375px;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-image: url('/images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);

    @media(min-width:1024px) {
        background-image: url('/images/bg-desktop.svg')
    }

}

.logo {
    width: 100%;
    padding: 4vh 5vh 6vh;

    @media(min-width:1024px) {
        padding: 5vh 7vh 9vh;
    }

    img {
        width: 45%;

        @media(min-width:1440px) {
            width: 30%;
        }



    }
}

.desk {
    display: flex;
    flex-direction: column;

    @media(min-width:1024px) {
        flex-direction: row;

    }



    .image {
        width: 100%;
        padding: 0 3vh 0 3vh;
        display: flex;
        justify-content: center;

        @media(min-width:1024px) {
            width: 150%;
            padding: 0 0 0 3vh;
        }

        @media(min-width:1440px) {
            width: 80%;
        }



        img {
            width: 90%;



        }
    }

    .main {
        display: flex;
        flex-direction: column;
        position: relative;



        h1 {
            padding: 6vh 3vh 2vh 3vh;
            text-align: center;
            color: white;
            font-size: 1.6em;
            font-family: 'Poppins', sans-serif;

            @media(min-width:1024px) {
                padding: 6vh 0 3vh 0;
                font-size: 2.5em;
                text-align: left;
            }



        }

        p {
            padding: 0 3vh 3vh 3vh;
            font-family: 'Open Sans', sans-serif;
            color: white;
            text-align: center;

            @media(min-width:1024px) {
                padding: 0 0 3vh 0;
                line-height: 180%;
                text-align: left;
            }


        }
    }

    button {
        align-self: center;
        width: 55%;
        height: 5vh;
        border: none;
        border-radius: 20px;
        color: hsl(257, 40%, 49%);
        box-shadow: 1px 6px 15px -2px rgba(0, 0, 0, 0.55);

        @media(min-width:1024px) {
            width: 35%;
            position: absolute;
            bottom: 5%;
            left: 0;

        }

        @media(min-width:1200px) {
            bottom: 25%;
        }

    }

}

.social {
    position: relative;
    width: 35%;
    top: 12vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media(min-width:1024px) {
        margin: 0 80%;
        top: 0;
        width: 15%;

    }

    @media(min-width:1200px) {
        margin: -5% 80%;
    }

    @media(min-width:1440px) {
        margin: -10% 80%;
    }



    i {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 50%;
        width: 3vh;
        height: 3vh;
        color: white;
        padding: 2vh;



    }
}